header{
    background-color: #0CC200;
    Padding: 20px;
    background-image: url("../imágenes/Imagen-fondo.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    }

h1{
    font-size: 28px;
    Color: #F9F7F7;
    font-family: "Yuji Mai", serif;
    }

h2{
    font-size: 22px;
    Color: #1B1A1A;
    }

h3{
    font-size: 16px;
    }


nav{
    color: #00A966;
    font-weight: bold;
    background-color: #00A966;
    word-spacing: 10px;
    }

a{  
    color: #00E53E;
    text-decoration: none;
    font-weight: bold;
    }
a:hover{
     text-decoration: underline;
    }

body {
    font-family:Arial, sans-serif; 
    color: #1B1A1A; 
    word-spacing: 1.6px;
    font-size: 16px;
    background-color: #91F489;
    margin: 20px;
    }

article{
    box-shadow: 0px 0px 5px;
    padding: 5px;
    margin: 10px;
    }
    
section{
    box-shadow: 0px 0px 5px;
    padding: 5px;
    margin: 10px;
    }

img{
    border: 2px solid;
    border-radius: 5px;
}

pre {
    font-family: Arial, sans-serif;
    }

abbr {
    text-decoration: none;
    }

footer{
    background-color: #00A966;
    color: #F9F7F7;
    padding: 10px;
    }



